
.headline1{

display:flex;
align-items: center;
justify-content: center;
height: 40vh;
background-color:rgba(49, 125, 136,0.8);

}

.headline2{

display:flex;
align-items: center;
justify-content: center;
height: 10vh;
background-color:rgba(49, 125, 136,0.8);

}
.banner{

/*align-items: flex-start;*/
color: rgba(255, 255, 255,0.5);
text-shadow: 4px 4px black;
font-size: 100px;
padding:30px 0px;

}


.paragraphStyle{
justify-content: center;
align-items: center;
color: rgba(255, 255, 255,1);
text-shadow: 2px 2px black;
font-size: 70px;


}
.paragraphStyle2{
justify-content: center;
align-items: center;
color: rgba(255, 255, 255,1);
text-shadow: 2px 2px black;
font-size: 50px;


}